<div class="reset">
  <form id="form" class="reset" #userForm="ngForm" novalidate>
    <div id="text3" class="form-control">Reset password</div>
    <div class="formGroup">
      <input placeholder="New password" id="password" class="form-control" type="password" name="password" minlength="7"
             [(ngModel)]="user.password" #password="ngModel" required (focus)="clickPassword()"
             pattern="^.*(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%*&+()]).*$"/>
      <div class="help-block" id="messagePassword" *ngIf="password.errors && showErrPass
      && hide && (password.touched||password.dirty)">
        <p *ngIf="password?.errors?.required && showErrPass && (password.touched||password.dirty)">
          Password is required.
        </p>
        <p class="msg" *ngIf="(password.value!=null&&password.value.length < 7 && password.value.length > 0)
        && showErrPass && (password.touched||password.dirty)">
          -Must be at least 7 characters
        </p>
        <p class="msg" *ngIf="(password?.errors?.pattern && password.value.match('[A-Z]')==null)
        && showErrPass && (password.touched||password.dirty)">
          -There must be at least one large letter
        </p>
        <p class="msg" *ngIf="(password?.errors?.pattern && password.value.match('[a-z]')==null)
        && showErrPass && (password.touched||password.dirty)">
          -There must be at least one small letter
        </p>
        <p class="msg" *ngIf="(password?.errors?.pattern && password.value.match('[0-9]')==null)
        && showErrPass && (password.touched||password.dirty)">
          -There must be at least one number
        </p>
        <p class="msg" *ngIf="(password?.errors?.pattern && password.value.match('[!@#$%*&+()]')==null)
        && showErrPass && (password.touched||password.dirty)">
          -Must have at least a one special characters:“!@#$%*&+()”
        </p>
      </div>
      <div class="triangle-right" id="trianglePass" *ngIf="password?.errors && showErrPass
      && hide && (password.touched||password.dirty)">
      </div>
    </div>

    <div class="formGroup">
      <input placeholder="Re-enter new password" appConfirmEqualValidator="password" id="confirmPassword" class="form-control"
             type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel"
             required (focus)="clickConfPassword()"/>
      <div class="help-block" id="messageConfPassword" *ngIf="confirmPassword?.errors && showErrConfPass && hide
      && (confirmPassword.touched || confirmPassword.dirty)">
        <p *ngIf="confirmPassword?.errors?.required && showErrConfPass && (confirmPassword.touched||confirmPassword.dirty)">
          Confirm password is required.
        </p>
        <p *ngIf="(confirmPassword.touched||confirmPassword.dirty) && confirmPassword?.errors?.notEqual &&
          !confirmPassword.errors?.required">
          Password and Confirm password does not match.
        </p>
      </div>
      <div class="triangle-right" id="triangleConfPass" *ngIf="confirmPassword?.errors && showErrConfPass
      && hide && (confirmPassword.touched||confirmPassword.dirty)">
      </div>
    </div>
    <button pButton type="button" class="ui-button-raised ui-button-rounded"
            label="Reset Password" [disabled]="userForm.invalid" (click)="resetPassword(password.value)">
    </button>
  </form>
</div>

<p-dialog header="Failed Token" appendTo="body" [(visible)]="displayErr" [modal]="true" [closable]="false"
          [draggable]="false" [width]="350">
  <span>Unfortunately, the token is obsolete. You need to re-enter your email so that you can change the password.</span>

  <p-footer>
    <button class="sendEmail" type="button" pButton label="Submit" (click)="route()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Reset Password Complete" appendTo="body" [(visible)]="displayGood" [modal]="true" [closable]="false"
          [draggable]="false" [width]="350">
  <span>Password change succeeded!</span>

  <p-footer>
    <button class="sendEmail" type="button" pButton label="Submit" (click)="route()"></button>
  </p-footer>
</p-dialog>
