.reset {
  position:absolute;
  left:0;
  top:100px;
  width:100%;
}

#form{
  top:120px;
  left:480px;
  width:350px;
  height:240px;
  font-family: verdana, serif;
  font-size:20px;
  background: rgb(237, 238, 237);
  margin-bottom: 8px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

#text3{
  position: relative;
  font-family: verdana, serif;
  font-size:30px;
  color:#142170;
  height:60px;
  margin-left: 15%;
}

#form input{
  position: relative;
  height: 40px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  outline: none;
  border: 1px solid #142170;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

#form button{
  margin-left: 23%;
  margin-right: 10%;
}

#form .form-control{
  width: 80%;
}

#form input.ng-dirty.ng-invalid,
#form input.ng-touched.ng-invalid{
  border: 1px solid rgb(209, 76, 48);
}

#form input.ng-dirty.ng-valid,
#form input.ng-touched.ng-valid{
  border: 1px solid rgb(119, 209, 54);
}


.help-block{
  font-size: 12px;
  position: absolute;
  color: white;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 0 1em rgba(121, 121, 121, 0.49);
  border-radius: 5px;
  background: rgb(209, 76, 48);
  z-index: 100;
  white-space: nowrap;
}

.msg{
  word-break: break-all;
}

#messagePassword{
  right: 322px;
  top: 40px;
}

#messageConfPassword{
  right: 322px;
  top: 110px;
}

.triangle-right {
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  border-top: 10px solid transparent;
  border-left: 10px solid rgb(209, 76, 48);
  border-bottom: 10px solid transparent;
  z-index: 100;
}

#trianglePass{
  left: 25px;
  top: 75px;
}

#triangleConfPass{
  left: 25px;
  top: 130px;
}

span{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 8px;
}
