<!--
<div class="eventForm" align="center">
  <p-dialog class="form" showEffect="fade" [(visible)]="display" [draggable]="false" header="New Event"
            [contentStyle]="{'width' : '600px'}">
    &lt;!&ndash; <p-header>
       Header content here
     </p-header>&ndash;&gt;
    <div *ngIf="selectedLng&&selectedLat">
      <div class="string">
        <div class="fieldName"><label for="title">Label</label></div>
        <div><input class="inputField"  type="text" pInputText id="title" [(ngModel)]="eventName" #title="ngModel" /></div>
      </div>

      <div>
        <div class="fieldName"><label>Category</label></div>
        <p-multiSelect id="choose" [showToggleAll]="false" defaultLabel="" maxSelectedLabels="1" [options]="categoryArray" [(ngModel)]="selectedCategory"
                       optionLabel="categoryName" [style]="{width:'175px','height': '30px'}"
                       [panelStyle]="{width:'200px'}">

        </p-multiSelect>

      </div>

      <div>
        <div class="fieldName"><label for="location">Location</label></div>
        <div><input class="inputField" type="text" pInputText id="location" [(ngModel)]="location">
           </div>
      </div>


        <div class="fieldName">Start date</div>
        <div>
          <p-calendar class="inputField" [minDate]="currentDate" [(ngModel)]="startEvent"></p-calendar>
        </div>


        <div class="fieldName">End date</div>
        <div>
          <p-calendar class="inputField" [minDate]="currentDate" [(ngModel)]="endEvent"></p-calendar>
        </div>

      <div class="string">
        <div class="fieldName">Description</div>
        <div>
          <textarea class="inputField"  pInputTextarea type="text" [(ngModel)]="eventDescription"></textarea>
        </div>
      </div>
      <div class="ui-g-12"><label>Lat: {{selectedLat.toFixed(4)}}  </label> <label>Lng: {{selectedLng.toFixed(4)}}  </label></div>
      <div>
        <button class="button" label="Add"   (click)="addEvent()">Add</button>

        <button class="button" label="Clear"  (click)="clear()">Clear</button>

        <button class="button" label="Cancel"  (click)="cancel()">Cancel</button>
      </div>


    </div>

  </p-dialog>
</div>
-->
